  body {
  padding-top:0px;
  padding-left: 120px;
  font-family: Georgia, "Times New Roman",
          Times, serif;
  background-color: #000000;
background-repeat: repeat;
background-position: center;
background-size: cover;
height: 100%;

  font-size:12px;
  color:green;
}
.namsat{
font-style:italic;
font-size:12px;
}
ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 15px;
  left: 1em;
  width: 9em;
}
.banner {
/*  border:1px solid;*/
  text-shadow: 2px 2px 0px white;
  padding-top:0px;
  margin-top:15px;
  padding:10px;
  color: #7f8c7f;
  line-height: 65px;
  font-size:26px;
  position:absolute;
  width: 100%;
  height:90px;
  background-color: #000000;
  background-image: url("https://img.freepik.com/free-photo/3d-render-spotlights-grunge-brick-wall_1048-6284.jpg?size=338&ext=jpg");
  background-repeat: repeat;
background-size: cover;
}
.banner img{

height:40px;
widthh:40px;
float:left;
}
h2 {
 display: block;
  font-size: 20px;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;

}
h1 {
  display: block;
  font-size: 30px;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
ul.navbar li {
  background: #000000;
  margin: 0.5em 0;
  padding: 0.2em;
  border: 2px solid #7f8c7f;
  text-align:center;
  font-size:16px;
 text-shadow: 1px 1px 0px white;
}
ul.navbar a {
  text-decoration: none ;
color: #7f8c7f;  
}

a:link {
  color: green; 
}
a:visited {
  color:#7f8c7f;
 }
ul.navbar a:active{
 text-decoration:underline;
 background-color:green;
}
.address a {
text-decoration: none;
color :#7f8c7f;
padding:5px ;
}
.divfoo {
  word-spacing: 1rem;
  padding:10px;
  margin:150px auto;
  color:#7f8c7f;
  font-size:20px;
  position:absolute;
  width:100%;
  height:100%;
  overflow:scroll ;
  background-image: url("https://img.freepik.com/free-photo/grunge-brick-wall-background_1048-11975.jpg?size=338&ext=jpg&ga=GA1.1.103225469.1700938431&semt=ais");
/*  max-height: 950px;*/
/*  max-height: 500px;*/
/*background-repeat: no-repeat;*/
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: 100%;

}

.codec {
  font-family: Consolas,"courier new";
  color: crimson;
  background-color: #000000;
  padding-left:30px;
  font-size: 18px;
 /* heighr:100%;
  width:100%;*/
  display: block;
  margin-left:20px;
  white-space: pre-wrap;
  border-left: red 3px solid;
}

.address {
  left:0px;
  margin-right:210px;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #f1f1f1;
  color:green;
  font-size:10px;
  width:100%;
  height:90px;
  background-color: #000000;
  text-align:center;
}

.contac {
  font-family: Consolas,"courier new";
  padding-left:30px;
color:#DC143C;
padding-right: 0px;
padding-top: 0px;
font-size:26px;
border-left: white 3px solid;
background-color: #2F2F2F;
}
.penbat{
padding-left:30px;
color:#DC143C;
padding-right: 0px;
padding-top: 0px;
margin-left:20px;
font-size:26px;
border-left: white 3px solid;
background-color: #2F2F2F;

}

.pensat{
color: crimson;
background-image: url("/asset/10.jpg");
background-repeat: no-repeat;
display: block;
border: green 1px dotted;
height: 290px;
width:290px;
padding-left: 70px;
padding-right: 0px;
padding-top: 80px;
margin-right:0px;
font-size:26px;
background-position: center;
background-size: cover;
}
.contac a {
margin-left:10px;
text-decoration: none;
color :#7f8c7f;
}
.contac img {
width:25px;
height:25px;
margin-left:10px ;
padding-right:10px;

}
.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  
}
/*
.line-clamp.clamp-1 {
  -webkit-line-clamp: 1;
}
.line-clamp.clamp-2 {
  -webkit-line-clamp: 2;
}
.line-clamp.clamp-4 {
  -webkit-line-clamp: 4;
}
.line-clamp.clamp-5 {
  -webkit-line-clamp: 5;
}
.line-clamp.clamp-10 {
  -webkit-line-clamp: 10;
}

.line-clamp p {
  display: contents;
  overflow: hidden;
}
.line-clamp p:not(:first-child):before {
  content: "\A";
  white-space: pre;
}
 button */
.button{
  margin-top: 0.4125rem;
  line-height: 1.5rem;
  font-size: inherit;
  color: green;
  background-color: black; /*transparent;*/
  position: relative;
  display: flex;
  text-decoration: none;
  border:gray 2px solid;
  -webkit-border-radius:3px;
}
.button.btn-toggle-clamp:after, button.btn-toggle-clamp:before {
  -webkit-mask-position: center;
  -webkit-mask-size: 0.875em;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 0.875em;
  mask-repeat: no-repeat;
  background-color: currentColor;
  display: none;
  width: 1.5em;
  content: "\A0";
}
.button.btn-toggle-clamp:not(.toggle-before):after {
  display: inline-block;
}
.button.btn-toggle-clamp.toggle-before:before {
  display: inline-block;
}
.button.btn-toggle-clamp:after {
  -webkit-mask-image: var(--svg-marker-down);
  -webkit-mask-position: right center;
  mask-position: right center;
  mask-image: var(--svg-marker-down);
}
.button.btn-toggle-clamp.toggle-before:before {
  -webkit-mask-image: var(--svg-marker-more);
  mask-image: var(--svg-marker-more);
  -webkit-mask-position: left center;
  mask-position: left center;
}
.toggle-clamp:not(.line-clamp) + button.btn-toggle-clamp:after {
  transform: scaleY(-1);
}
.toggle-clamp:not(.line-clamp) + button.btn-toggle-clamp.toggle-before:before {
  -webkit-mask-image: var(--svg-marker-less);
  mask-image: var(--svg-marker-less);
}
.button.btn-toggle-clamp:focus-visible {
  color: var(--link-color, blue);
}
.@media (any-pointer: fine) {
  button.btn-toggle-clamp:hover {
    color: var(--link-color, blue);
  }
}
/*
.bouton
{
    color:#0000ff;
    font-size:24px;
    cursor:pointer;
}
.bouton:hover
{
    text-decoration:underline;
}
.texte
{
    border:1px solid #333333;
    background:#eeeeee;
    padding:10px;
    color:#333333;
}
.texte:hover
{
    border:1px solid #000000;
    background:#cccccc;
    color:#000000;
}
*/
.more {display: none;
}
input[type=text], textarea, input[type=email] ,input[type=password]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-right: 0px;
  margin-left: 0px;
  resize: vertical;
}
label{margin-right: 0px;
  margin-left: 0px;
  width: 100%;
  color:white;
}
input[type=submit] {
  background-color: #1255a2;
  color: white;
  /*padding: 12px 20px;
  border-radius: 4px;*/
  cursor: pointer;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  border-radius: 10px;
  border-bottom: 5px solid #2980B9;
  text-shadow: 0px -2px #2980B9;
  padding: 10px 40px;
}

input[type=submit]:hover {
  background-color: #1872D9;
}
.captcha {
padding-top:10px;
width:100%;
height:50px;
color:yellow;
background-color: transparent;
font-size:14px;

}
.rcaptcha{
width:100%;
}
.pitac{
/*word-spacing: 1rem;*/

}
.pitac pyimg{
width:200px;
height:75px;
float:left;
marin-left:20px;
padding-right:10px;
padding-top:5px;

}
.nextbtn{
background-color: #1255a2;
  color: white;
  /*padding: 12px 20px;
  border-radius: 4px;*/
  cursor: pointer;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  border-radius: 10px;
  border-bottom: 5px solid #2980B9;
  text-shadow: 0px -2px #2980B9;
  padding: 10px 40px;
  float:right;

}
.prebtn{
background-color: #1255a2;
  color: white;
  /*padding: 12px 20px;
  border-radius: 4px;*/
  cursor: pointer;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  border-radius: 10px;
  border-bottom: 5px solid #2980B9;
  text-shadow: 0px -2px #2980B9;
  padding: 10px 40px;
  float:left;
 
}
.pitac dkimg{
width:100%;
height:300px;



}
