  body {
  padding-top:0px;
  padding-left: 120px;
  font-family: Georgia, "Times New Roman",
          Times, serif;
  background-color: #000000;
background-repeat: repeat;
background-position: center;
background-size: cover;
height: 100%;

  font-size:12px;
  color:green;
}
.namsat{
font-style:italic;
font-size:12px;
}
ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 15px;
  left: 1em;
  width: 9em;
}
.banner {
/*  border:1px solid;*/
  text-shadow: 2px 2px 0px white;
  padding-top:0px;
  margin-top:15px;
  padding:10px;
  color: #7f8c7f;
  line-height: 65px;
  font-size:26px;
  position:absolute;
  width: 100%;
  height:90px;
  background-color: #000000;
  background-image: url("https://img.freepik.com/free-photo/3d-render-spotlights-grunge-brick-wall_1048-6284.jpg?size=338&ext=jpg");
  background-repeat: repeat;
background-size: cover;
}
.banner img{

height:40px;
widthh:40px;
float:left;
}
h2 {
 display: block;
  font-size: 20px;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;

}
h1 {
  display: block;
  font-size: 30px;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
ul.navbar li {
  background: #000000;
  margin: 0.5em 0;
  padding: 0.2em;
  border: 2px solid #7f8c7f;
  text-align:center;
  font-size:16px;
 text-shadow: 1px 1px 0px white;
}
ul.navbar a {
  text-decoration: none ;
color: #7f8c7f;
}

a:link {
  color: green;
}
a:visited {
  color:#7f8c7f;
 }
ul.navbar a:active{
 text-decoration:underline;
 background-color:green;
}
.address a {
text-decoration: none;
color :#7f8c7f;
padding:5px ;
}
.divfoo {
  word-spacing: 1rem;
  padding:10px;
  margin:150px auto;
  color:#7f8c7f;
  font-size:20px;
  position:absolute;
  width:100%;
  height:100%;
  overflow:scroll ;
  background-image: url("https://img.freepik.com/free-photo/grunge-brick-wall-background_1048-11975.jpg?size=338&ext=jpg&ga=GA1.1.103225469.>
/*  max-height: 950px;*/
/*  max-height: 500px;*/
/*background-repeat: no-repeat;*/
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: 100%;

}

.codec {
  font-family: Consolas,"courier new";
  color: crimson;
  background-color: #000000;
  padding-left:30px;
  font-size: 18px;
 /* heighr:100%;
  width:100%;*/
  display: block;
  margin-left:20px;
  white-space: pre-wrap;
  border-left: red 3px solid;
}

.address {
  left:0px;
  margin-right:210px;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #f1f1f1;
  color:green;
  font-size:10px;
  width:100%;
  height:90px;
  background-color: #000000;
  text-align:center;
}

.contac {
  font-family: Consolas,"courier new";
  padding-left:30px;
color:#DC143C;
padding-right: 0px;
padding-top: 0px;
font-size:26px;
border-left: white 3px solid;
background-color: #2F2F2F;
}
.penbat{
padding-left:30px;
color:#DC143C;
padding-right: 0px;
padding-top: 0px;
margin-left:20px;
font-size:26px;
border-left: white 3px solid;
background-color: #2F2F2F;

}

.pensat{
color: crimson;
background-image: url("/asset/10.jpg");
background-repeat: no-repeat;
display: block;
border: green 1px dotted;
height: 290px;
width:290px;
padding-left: 70px;
padding-right: 0px;
padding-top: 80px;
margin-right:0px;
font-size:26px;
background-position: center;
background-size: cover;
}
.contac a {
margin-left:10px;
text-decoration: none;
color :#7f8c7f;
}
.contac img {
width:25px;
height:25px;
margin-left:10px ;
padding-right:10px;

}
.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;

}
.button{
  margin-top: 0.4125rem;
  line-height: 1.5rem;
  font-size: inherit;
  color: green;
  background-color: black; /*transparent;*/
  position: relative;
  display: flex;
  text-decoration: none;
  border:gray 2px solid;
  -webkit-border-radius:3px;
}
.button.btn-toggle-clamp:after, button.btn-toggle-clamp:before {
  -webkit-mask-position: center;
  -webkit-mask-size: 0.875em;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 0.875em;
  mask-repeat: no-repeat;
  background-color: currentColor;
  display: none;
  width: 1.5em;
  content: "\A0";
}
.button.btn-toggle-clamp:not(.toggle-before):after {
  display: inline-block;
}
.button.btn-toggle-clamp.toggle-before:before {
  display: inline-block;
}
.button.btn-toggle-clamp:after {
  -webkit-mask-image: var(--svg-marker-down);
  -webkit-mask-position: right center;
  mask-position: right center;
  mask-image: var(--svg-marker-down);
}
.button.btn-toggle-clamp.toggle-before:before {
  -webkit-mask-image: var(--svg-marker-more);
  mask-image: var(--svg-marker-more);
  -webkit-mask-position: left center;
  mask-position: left center;
}
.toggle-clamp:not(.line-clamp) + button.btn-toggle-clamp:after {
  transform: scaleY(-1);
}
.toggle-clamp:not(.line-clamp) + button.btn-toggle-clamp.toggle-before:before {
  -webkit-mask-image: var(--svg-marker-less);
  mask-image: var(--svg-marker-less);
}
.button.btn-toggle-clamp:focus-visible {
  color: var(--link-color, blue);
}
.@media (any-pointer: fine) {
  button.btn-toggle-clamp:hover {
    color: var(--link-color, blue);
  }
}

.more {display: none;
}
input[type=text], textarea, input[type=email] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-right: 0px;
  margin-left: 0px;
  resize: vertical;
}
label{margin-right: 0px;
  margin-left: 0px;
  width: 100%;
  color:white;
}
input[type=submit] {
  background-color: #1255a2;
  color: white;
  /*padding: 12px 20px;
  border-radius: 4px;*/
  cursor: pointer;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  border-radius: 10px;
  border-bottom: 5px solid #2980B9;
  text-shadow: 0px -2px #2980B9;
  padding: 10px 40px;
}

input[type=submit]:hover {
  background-color: #1872D9;
}
.captcha {
padding-top:10px;
width:100%;
height:50px;
color:yellow;
background-color: transparent;
font-size:14px;

}
.rcaptcha{
width:100%;
}
.pitac{
/*word-spacing: 1rem;*/

}
.pitac img{
width:200px;
height:75px;
float:left;
marin-left:20px;
padding-right:10px;
padding-top:5px;

}
.nextbtn{
background-color: #1255a2;
  color: white;
  /*padding: 12px 20px;
  border-radius: 4px;*/
  cursor: pointer;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  border-radius: 10px;
  border-bottom: 5px solid #2980B9;
  text-shadow: 0px -2px #2980B9;
  padding: 10px 40px;
  float:right;

}

.prebtn{
background-color: #1255a2;
  color: white;
  /*padding: 12px 20px;
  border-radius: 4px;*/
  cursor: pointer;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  border-radius: 10px;
  border-bottom: 5px solid #2980B9;                                                                    text-shadow: 0px -2px #2980B9;
  padding: 10px 40px;
  float:left;

}
code[class*="language-"],
pre[class*="language-"] {
        color: black;
        background: none;
        text-shadow: 0 1px white;
        font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
        font-size: 1em;
        text-align: left;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        word-wrap: normal;
        line-height: 1.5;

        -moz-tab-size: 4;
        -o-tab-size: 4;
        tab-size: 4;

        -webkit-hyphens: none;
        -moz-hyphens: none;
        -ms-hyphens: none;
        hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
        text-shadow: none;
        background: #b3d4fc;
}
                                                                                                                                             pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
        text-shadow: none;
        background: #b3d4fc;
}

@media print {
        code[class*="language-"],
        pre[class*="language-"] {
                text-shadow: none;
        }
}

/* Code blocks */
pre[class*="language-"] {
        padding: 1em;
        margin: .5em 0;
        overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
        background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
        padding: .1em;
        border-radius: .3em;
        white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
        color: slategray;
}

.token.punctuation {
        color: #999;
}
.token.namespace {
        opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
        color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
        color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
        color: #9a6e3a;
        /* This background color was intended by the author of this theme. */
        background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
        color: #07a;
}

.token.function,
.token.class-name {
        color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
        color: #e90;
}

.token.important,
.token.bold { 
  font-weight: bold;
}
.token.italic {
        font-style: italic;
}

.token.entity {
        cursor: help;
}
pre[class*="language-"].line-numbers {
        position: relative;
        padding-left: 3.8em;
        counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
        position: relative;
        white-space: inherit;
}

.line-numbers .line-numbers-rows {
        position: absolute;
        pointer-events: none;
        top: 0;
        font-size: 100%;
        left: -3.8em;
        width: 3em; /* works for line-numbers below 1000 lines */
        letter-spacing: -1px;
        border-right: 1px solid #999;

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;                                                                                            
}

        .line-numbers-rows > span {
                display: block;
                counter-increment: linenumber;
        }

                .line-numbers-rows > span:before {
                        content: counter(linenumber);
                        color: #999;
                        display: block;
                        padding-right: 0.8em;
                        text-align: right;
                }

div.code-toolbar {                                                                                                            position: relative;
}

div.code-toolbar > .toolbar {
        position: absolute;
        z-index: 10;
        top: .3em;
        right: .2em;
        transition: opacity 0.3s ease-in-out;
        opacity: 0;
}

div.code-toolbar:hover > .toolbar {
        opacity: 1;
}
/* Separate line b/c rules are thrown out if selector is invalid.
   IE11 and old Edge versions don't support :focus-within. */
div.code-toolbar:focus-within > .toolbar {
        opacity: 1;
}

div.code-toolbar > .toolbar > .toolbar-item {
        display: inline-block;
}

div.code-toolbar > .toolbar > .toolbar-item > a {
        cursor: pointer;
}

div.code-toolbar > .toolbar > .toolbar-item > button {
        color:red;                                                                                                            background:inherit;
        border: 1px red solid;
        font: inherit;
        line-height: normal;
        overflow: visible;
        padding: 0;
        -webkit-user-select: none; /* for button */
        -moz-user-select: none;
        -ms-user-select: none;
}

div.code-toolbar > .toolbar > .toolbar-item > a,
div.code-toolbar > .toolbar > .toolbar-item > button,
div.code-toolbar > .toolbar > .toolbar-item > span {
        color: green;
        font-size: .5em;
        padding: 0 .2em;
        background-color:#00000;
        box-shadow: 0 2px 0 0 yellow;
        border-radius: .5em;
}

div.code-toolbar > .toolbar > .toolbar-item > a:hover,
div.code-toolbar > .toolbar > .toolbar-item > a:focus,
div.code-toolbar > .toolbar > .toolbar-item > button:hover,
div.code-toolbar > .toolbar > .toolbar-item > button:focus,
div.code-toolbar > .toolbar > .toolbar-item > span:hover,
div.code-toolbar > .toolbar > .toolbar-item > span:focus {
        color: inherit;
        text-decoration: none;
}
